* {
	margin: 0;
	padding: 0;
}

.fullpage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row;
}

.home {
	background: #333;
	flex: 1;
	display: flex;
}

.video-container {
	background: #333;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.video-player {
	width: 100%;
}

.video-player-video-element {
	width: 100%;
	height: 100%;
}

.video-player.fit {
	max-width: 560px;
}

.video-player-video-element video {
	width: 100%;
}

.video-side {
	flex-basis: 400px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #222;
	color: #FFF;
}

.side-content {
	padding: 10px;
}

.timeline-canvas {
	width: 100%;
	height: 200px;
}

.video-timeline {
	width: 100%;
}

.video-preview-square {
	width: 512px;
	height: 512px;
	position: relative;
	background: #000;
	box-shadow: 0px 0px 30px #000;
}

.video-preview-square canvas, .video-layer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.video-preview-square .layer-0 {
	z-index: 0;
}

.video-preview-square .layer-1 {
	z-index: 1;
}

.video-preview-square .layer-2 {
	z-index: 2;
}

.video-preview-square .layer-3 {
	z-index: 3;
}

.video-preview-square .layer-4 {
	z-index: 4;
}

.label-hint {
	margin-bottom: 10px;
	font-size: 8pt;
}

.side-title {
	margin: 30px 0 10px;
}

.video-layer video {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-layer-stretch {
}

.video-layer-stretch video {
	object-fit: cover;
	width: 100%;
}